body {
	font-size: 14px !important;
}

* {
	background: white;
	color: black;
}
a, a:visited {
	text-decoration: underline;
	color: blue;
}

a[href]:after {
	content: initial;
}

#Footer, .prejit_na_obsah, #Left, #Right, #Menu, #Head, #Search, #facebookSidelink, form, #favoritesList, iframe, .noPrint {
	display: none !important;
}
