<div id="Footer">
	<div class="inner">

		<script type="text/javascript">
			document.write ('<img style="position:absolute" src="https://toplist.cz/dot.asp?id=178281&amp;https='+escape(document.referrer)+'&amp;wi='+escape(window.screen.width)+'&amp;he='+escape(window.screen.height)+'&amp;cd='+escape(window.screen.colorDepth)+'&amp;t='+escape(document.title)+'" width="1" height="1" alt="TOPlist" />');
		</script>
		<noscript>
			<img src="https://toplist.cz/dot.asp?id=178281" alt="TOPlist" width="1" height="1" />
		</noscript>

		<a class="rss item" href="/?p=rss"><span class="glyphicon glyphicon-bullhorn"></span> Novinky RSS</a>
		<a class=item href="/about/obchodni-podminky">Obchodní podmínky</a>
		<a class=item href="/about/reklamacni-rad">Reklamační řád</a>
		<span class=item>Ceny jsou uváděny  včetně {{ common.vatRate }}&nbsp;%&nbsp;DPH</span>

	</div>
</div>
